.realtors {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-column: col-start 7 / full-end;
  grid-row-gap: 2rem;
  padding: 3rem;
  background-color: $color-secondary;
}
